# D-I config version 2.0
# search path for the c32 support libraries (libcom32, libutil etc.)
path
include stdmenu.cfg
prompt 0
timeout 60

menu hshift 4
menu width 70

menu title Debian GNU/Linux installer menu (BIOS mode)

default auto
# include adtxt.cfg
label auto
	menu label ^Automated install
	kernel /install.amd/vmlinuz
	append auto=true priority=critical vga=788 initrd=/install.amd/initrd.gz --- quiet preseed/file=/cdrom/preseed.cfg
